.nav-social-links {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  justify-content: space-between;
  width: 99px;
}

.nav-social-links__list-item {
  list-style-type: none;
}

.nav-social-links__link:visited,
.nav-social-links__link:active {
  text-decoration: none;
  color: #EDF0F4;
}