.header-navigation {
  display: flex;
  align-items: flex-end;
  margin-left: 134px;
}

.header-navigation__links {
  display: flex;
  width: 612px;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  justify-content: space-between;
  margin-left: 105px;
}

.header-navigation__list-item {
  list-style-type: none;
}

.header-navigation__link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #EDF0F4;
}

.header-navigation__link:visited,
.header-navigation__link:active {
  text-decoration: none;
  color: #EDF0F4;
}