@import url('./vendor/fonts/inter.css');

body {
  background-color: #E3E5EA;
  height: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}