/* menu-of-club */ 

.menu-of-club {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  margin: 111px 300px 120px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* menu-of-club__block-cards */

.menu-of-club__block-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(236px ,380px));
  grid-column-gap: 30px;
  margin-top: 51px;
}